<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrungTamTinHoc.Properties.Settings.QuanLyTTTHConnectionString"
            connectionString="Data Source=.;Initial Catalog=QuanLyTTTH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TrungTamTinHoc.Properties.Settings.QLTrungTamTinHocConnectionString"
            connectionString="Data Source=.;Initial Catalog=QLTrungTamTinHoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>